# Nombre de la tabla de DynamoDB para Citas Médicas
CITAS_TABLE=cloud-computing-lab3-citas-dev

# Bandera para indicar ejecución en entorno local (serverless-offline)
IS_OFFLINE=true

# Endpoint de DynamoDB Local (por defecto http://localhost:8000)
DYNAMODB_ENDPOINT=http://localhost:8000

# Región de AWS por defecto
AWS_REGION=us-east-1
